body {
  background-color: rgb(115, 115, 115);
  font: 400 1em/1.38 Helvetica;
  color: rgb(255, 255, 255);
}

.text {
  margin-right: auto;
  margin-left: auto;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button {
  display: block;
  width: 7.5833333333%;
  height: 27px;
  margin: 17px auto 0;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

._input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

.text-1 {
  width: 66.3333333333%;
  min-height: 92px;
  margin-top: 35px;
}

.text-2 {
  width: 35.5833333333%;
  min-height: 44px;
  margin-top: 82px;
}

._input-1 {
  width: 54.4%;
  height: 45px;
  margin-top: 51px;
}

._input-2 {
  width: 54.4005208333%;
  height: 40px;
  margin-top: 12px;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span,
.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 a {
  font-style: normal;
  font-size: 3.563em;
}

.text-1 span,
.text-1 strong {
  font-style: normal;
  font-size: 3.563em;
  font-weight: 700;
}

.text-1 strong:active {
  font-size: NaNem;
}

.text-2 a {
  font-style: inherit;
  font-size: 1.875em;
}

.text-2 span,
.text-2 strong {
  font-style: inherit;
  font-size: 1.875em;
  font-weight: inherit;
}

@media(max-width: 768px) {
  ._button {
    float: left;
    clear: both;
    margin-right: 0;
    margin-left: 46.20768%;
  }

  .text-2 {
    float: left;
    clear: both;
    margin-right: 0;
    margin-left: 32.20622%;
  }

  ._input-1 {
    margin-top: 79px;
  }

  .text-1 strong {
    font-size: 3.563em;
  }
}

@media(max-width: 412px) {
  body {
    font-size: 1em;
  }

  ._button {
    float: none;
    clear: none;
    min-width: 100px;
    margin-top: 229px;
    margin-right: auto;
    margin-left: auto;
  }

  ._input {
    float: left;
    clear: both;
    margin-right: 0;
    margin-left: 22.79278%;
  }

  .text-2 {
    float: none;
    clear: none;
    margin-right: auto;
    margin-left: auto;
  }

  ._input-1 {
    margin-top: 107px;
  }
}

@media(max-width: 360px) {
  ._input {
    margin-left: 22.79948%;
  }
}

@media(max-width: 320px) {
  body {
    font-size: 1em;
  }

  ._input {
    margin-left: 22.79297%;
  }

  .text-1 {
    min-width: 250px;
  }
}