<webobject name = "styles" />
<style type = "text/css">
  body {
    background-color: rgb(115, 115, 115);
    font: 400 1em/1.38 Helvetica;
    color: rgb(0, 0, 0);
  }

  html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
  #map {
          height: 60%;
  		width: 60%;
  		margin: 0 auto 0 auto; 
       }
  ._button {
    display: block;
    width: 7.5833333333%;
    height: 27px;
    margin: 17px auto 0;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .name {
    margin-right: auto;
    margin-left: auto;
    font-size: 1em;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .location {
    margin-right: auto;
    margin-left: auto;
    font-size: 1em;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 500px;
  }

  select, input{
  	display: block;
    width: 7.5833333333%;
    height: 27px;
    margin: 17px auto 0;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: center;
    color: rgb(0, 0, 0);
    
  }

  option{
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .fluid-span-1 {
    width: 6.5%;
  }

  .fluid-span-2 {
    width: 15%;
  }

  .fluid-span-3 {
    width: 23.5%;
  }

  .fluid-span-4 {
    width: 32%;
  }

  .fluid-span-5 {
    width: 40.5%;
  }

  .fluid-span-6 {
    width: 49%;
  }

  .fluid-span-7 {
    width: 57.5%;
  }

  .fluid-span-8 {
    width: 66%;
  }

  .fluid-span-9 {
    width: 74.5%;
  }

  .fluid-span-10 {
    width: 83%;
  }

  .fluid-span-11 {
    width: 91.5%;
  }

  .fluid-span-12 {
    width: 100%;
  }

  .fluid-offset-1 {
    margin-left: 8.5%;
  }

  .fluid-offset-2 {
    margin-left: 17%;
  }

  .fluid-offset-3 {
    margin-left: 25.5%;
  }

  .fluid-offset-4 {
    margin-left: 34%;
  }

  .fluid-offset-5 {
    margin-left: 42.5%;
  }

  .fluid-offset-6 {
    margin-left: 51%;
  }

  .fluid-offset-7 {
    margin-left: 59.5%;
  }

  .fluid-offset-8 {
    margin-left: 68%;
  }

  .fluid-offset-9 {
    margin-left: 76.5%;
  }

  .fluid-offset-10 {
    margin-left: 85%;
  }

  .fluid-offset-11 {
    margin-left: 93.5%;
  }

  .location_field {
  	width: 400px;
  }
</style>